/*font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;*/

html {
  /*background-color: #fcfafc;*/
  /*background: #141414 url(https://source.unsplash.com/OGeyUVT_p3U);*/
  height: 100%;
  box-sizing: border-box;
}
body {
 font-family: 'Rubik', sans-serif;
 /*flex-direction: column;*/
 position: relative;
 margin: 0;
 padding-bottom: 6rem;
 min-height: 100%;
}

.center {
  text-align: center;
  align-content: center;
}

/***HEADER***/
.header {
  /*position: fixed;*/
  position: absolute;
  width: 100%;
  /*height: 60px;*/
  margin: auto;
  line-height: 60px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3sa;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  background-color: white;
  opacity: 0.5;
}
.header a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 14px 16px;
  display: inline-block;
}
.header a:hover{
  opacity: 0.4;
  color: gray;
}
.header-logo {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  float: left;
  display: inline-block;
  margin-top: -5px;
  /**/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav {
  float: right;
  display:inline-block;
}
/****/

/***FOOTER***/
.footer {
 position: absolute;
 right: 0;
 left: 0;
 bottom: 0;
 /*margin-bottom: -5em;*/
 /*padding: 5px;*/
 padding: 1rem;
 background-color: white;
 opacity: 0.7;
 text-align: center;
 /*display: flex;*/
}
.footer p{
  font-size: 10px;
}
.footer a {
  font-size: 20px;
}


.social-nav{
  text-align: center;
  color:  #0d2622;
}
.social-nav .fa{
  /*background-color: white;*/
  color:  #0d2622;
  opacity: 0.5;
}
.social-nav .fa:hover{
  background-color: #0d2622;
  color: white;
  opacity: 0.5;
}
.fa{
  padding: 8px;
  font-size: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/****/

.home p {
  position: absolute;
  bottom: 35%;
  right: 0;
  left: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: bolder;
  background-color: white;
  color: #0d2622;
  margin: 0 auto;
  /*width: 96%;*/
  opacity: 0.5;
  /*border-radius: 25%;*/
}

/***DASHED LIST***/
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}
.dashed li {
  line-height: 30px;
}
/****/

/***ABOUT HTML TAGS***/
.about h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
.about h1 { font-size: 3.5em;
  opacity: 0.5
}
.about h2 {
  color: #647D7D;
  font-size: 2em;
}

/***COMMONLY USED ELEMENTS***/
.main {
  /*background-size: cover;
  background-position: 50%;
  height: 100vh;
  padding-left: 10px;*/

  margin: 0 auto;
  padding-top: 64px;
  /*max-width: 640px;*/
  width: 94%;
}
.large-break {
  line-height: 65px;
  line-height: 70px;
}
.med-break {
  line-height: 22px;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  padding: 1em;
  border-radius: 20px;
}

/***CONTACT FORM***/
.inline {
  display: inline;
}
.contact-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1em 1em 1em 1em;
  display: block;
  border: 1px solid;
}
.field-form {
  float: left;
  display: inline-block;
  display: block;
  /*margin: auto;*/
}
.largeLabel {
  font-size: 18px;
}
.smallLabel {
  font-size: 12px;
}
.longInput {
  width: 100%;
}
.shortInput {
  width: 110%;
}
.submitBtn {
  width: 50%;
  border-radius: 4px;
  background-color: #7E9CA4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: auto;

  display: block;
  border: none;
}
.submitBtn span {
  padding: 7px 7px 7px 7px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.submitBtn span:after {
  padding: 10px 10px 10px 10px;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.submitBtn:hover span {
  padding-right: 30px;
}
.submitBtn:hover span:after {
  opacity: 1;
  right: 0;
}
/****/

/***CONTACT PAGE***/
#contact-container {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.contact-left-block {
  display: table-cell;
  text-align: right;
}
.middle-block {
 display: table-cell;
 text-align: center;
 width: 20px;
}
.contact-right-block {
  display: table-cell;
  text-align: left;
}
/****/


/***VIEWING POSTS***/
.view {
  font-family: 'Lato', sans-serif;
  /*color: #707070;*/
  color: white;
}
.view h1{
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  /*border-style: hidden solid;*/
  border-style: outset;
  border-color: #809999;
  border-width: 14px;
  letter-spacing: 20px;
  background-color: #9cb0b0;
}
/****/

/***PROJECTS***/
.project-left-block {
  align-content: left;
  display: table-cell;
}
.project-right-block {
  align-content: right;
  display: table-cell;
}
.project-middle-block {
  display: table-cell;
  text-align: center;
  width: 22px;
}
.project-box {
  overflow: hidden;
  display: table-cell;
}
.project-image {
  width: 25vh;
  height: 25vh;
  min-width: 200px;
  min-height: 200px;
  padding: 1em 1em 1em 1em;
  background-color: lightblue;
  opacity: 0.7;
  position: absolute;
  z-index: -10;
}
.project-text {
  width: 25vh;
  height: 25vh;
  min-width: 200px;
  min-height: 200px;
  background-color: lightgreen;
  padding: 1em 1em 1em 1em;
  position: relative;
  z-index: 5;
}