.project-left-column {
  align-content: left;
  margin: 0 auto;
  padding-top: 64px;
  width: 94%;
}
.project-box {
  /*overflow: hidden;*/
  /*float: left;*/
  /*display: table-cell;*/
  display: inline-block;
  font-size: 8px;
  /*position: absolute;*/
}
.project-title {
  width: 20vh;
  height: 10vh;
  min-width: 200px;
  min-height: 80px;
  padding: 1em 1em 1em 1em;
  background-color: lightblue;
  float: left;
  position: relative;
  /*z-index: 5;*/
}
.project-text {
  width: 20vh;
  height: 15vh;
  min-width: 300px;
  min-height: 100px;
  padding: 1em 1em 1em 1em;
  background-color: lightgreen;
  float: left;
  text-align: left;
  position: relative;
  /*visibility: hidden;*/
  /*margin-left: -200px;*/


  top: 0;
  left: 0;
  display: inline-block;

}
.project-image {
  width: 20vh;
  height: 20vh;
  min-width: 300px;
  min-height: 100px;
  padding: 1em 1em 1em 1em;
  background-color: lightyellow;
  float: left;
  /*visibility: hidden;*/
  /*margin-left: -300px;*/
  /*display: none;*/
  /*left: 0;*/
  /*top: 0;*/
  /*right: 0;*/
  /*z-index: -5;*/
  position: relative;
}




div {

}
.holdingbox {
  position: relative;
  top: 0;
/*  margin-left: 100px;*/
  /*background-color: lightblue;*/
  display : inline-block;


  height: 200px
}

.rightbox {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 24px;
  background-color: lightgreen;
  color: #FFF;
  font-weight: bold;
  padding: 1px;

  height: 200px;
  width: 200px;
}
.leftbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 200px;
  vertical-align: top;
  margin-right: 0;
}
.content {
  width: 100px;
  position: absolute;
  background-color: pink;
  height: 200px;
  width: ;
  left: 0;
  top: 0;
  right: 0;
  color: #FFF;
 /* padding-left: 5px;*/
}
.title {
  background-color: lightblue;
  width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: top; 
}