html{
	background-color: #ecf4f8;
	font-family: Arial, sans-serif;
/*	font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/
}
a {
	text-decoration: none;
}
footer{
	padding: 5px;
	color: #1A5375;;
	clear: left;
	font-size: 10px;
	padding: 10px;
}
.headerMain{
	position: relative;
	background-image: url('/images/ocean-blank-lines.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
.headerHome{
	position: relative;
	background-image: url('/images/ocean-home.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 43% ;
	overflow: hidden;
	padding: 100px;
}
h1{
	vertical-align: center;
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 35px;
}
h4{
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
}
body{
	font-size: 17px;
	text-align: center;
}
.smallRight{
	font-size: 12px;
	text-align: right;
}
img.default{
	display: block;
	margin: auto;
	width: auto;
	height: 250px;
}
img.profile{
	display: block;
	margin: auto;
	height: 200px;
	margin-left: 3cm;
	border-radius: 40%;
}
.aboutInfoBox{
	margin: auto;
}
table{
	width: 70%;
	border: 3px solid;
	border-color: #3783A2;
	border-collapse: collapse;
	margin: auto;
	text-align: center;
}
td{
	width: 300px;
	border: 3px solid;
	border-color: #3783A2;
}
th{
	width: 200px;
	background-color: #3783A2;
	color: white;
	margin: auto;
	text-align: center;
	font-size: 20px;
}
.nav {
	/*position: absolute;*/
	bottom: 0;
	/*right: 8;*/
	color: white;
	/*position: center;*/
	text-align: center;
	/*text-align: right;*/
}
.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: inline-block;
}
.nav a:hover {
	opacity: 0.5;
	color: white;
}
.main{
	max-width: 900px;
	background-color: white;
	margin: auto;
	padding: 1em;
	text-overflow: wrap;
}
.main a{
	color: #123c54;
}
.main a:hover {
	color: #8fc0d6;
}
/*.main a:visited {
	color: gray;
	}*/

	.container{
		display: flex;
		justify-content: space-between;
		max-width: 900px;
		margin: auto;
		padding: 1em;
		border-radius: 20px;
	}
	.homeAboutBox{
		color: #135F82;
		border-radius: 20px;
		border-style: inset;
		border-width: thick;
		border-color: #91C7DA;
		background-color: white;
		width: 90%;
		text-align: center;
		padding: .5em;
	}
	.homeContactBox{
		color: #135F82;
		border-radius: 20px;
		border-style: inset;
		border-width: thick;
		border-color: #91C7DA;	
		background-color: white;
		width: 90%;
		text-align: center;
		padding: .5em;
	}
	.spacer{
		background-color: white;
		margin: auto;
		text-align: center;

	}
	.contactInfo{
		text-align: left;
		margin: auto;
	}
	.defaultForm {
		margin: auto;
	}
	.contactMsg{
		width: 300px;
		/*text-align: right;*/
		margin: auto;
		font-size: 14px;
		border:1px solid #92ADB6;
	}
	.postForm input{
		width: 600px;
		margin: auto;
		font-size: 14px;
		border:1px solid #92ADB6;
		padding: 3px;
	}
	.postFormBody{
		width: 600px;
		max-width: 600px;
		margin: auto;
		font-size: 14px;
		border:1px solid #92ADB6;
		padding: 3px;
		font-family: Arial, sans-serif;
	}
	.defaultForm input{
		width: 300px;
		max-width: 300px;
		margin: auto;
		font-size: 14px;
		border:1px solid #92ADB6;
		padding: 3px;
	}
	.defaultFormBody{
		width: 300px;
		margin: auto;
		font-size: 14px;
		border:1px solid #92ADB6;
		padding: 3px;
		font-family: Arial, sans-serif;
	}
	.defaultBtn{
		background-color: #92ADB6;
		color: white;
		border:1px solid white;
	}
	.redBtn{
		background-color: #ff6666;
		color: white;
		border:1px solid white;
	}
	.greenBtn{
		background-color: #66cc66;
		color: white;
		border:1px solid white;
	}
	.datetime{
		font-size: 11px;
		display: inline-block;
	}
	.newCommentUser {
		font-weight: bold;
		margin-left: 10px;
		margin-top: 5px;
		margin-right: 20px;
		display: inline-block;
		/*border-right: 1px solid gray;*/
		word-wrap: break-word;
	}
	.newCommentBody {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		border: 1px solid #1A5771;
		padding: 15px;
		word-wrap: break-word;
	}

	.blogPosts{
		text-align: left;
	}
	.hoverBox{
		position: relative;
		display: inline-block;
		text-align: right;
	}
	.hoverBox .hoverText{
		visibility: hidden;
		width: 110px;
		background-color: #123c54;
		color: white;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		margin-left: -20px;
	}
	.hoverBox:hover .hoverText{
		visibility: visible;
	}
	.fa-arrow-up{
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		color: #123c54;
	}
	.social-nav{
		position: absolute;
		top: 5;
		right: 5;
		text-align: right;
		color: #1A5375;
	}
	.social-nav .fa{
		background: white;
		color: #1A5375;
		opacity: 0.9;
	}
	.social-nav .fa:hover{
		opacity: 0.5;
	}
	.fa{
		padding: 8px;
		font-size: 8px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
	}

	ul.columns {
		-moz-column-count: 4;
		-moz-column-gap: 2s0px;
		-webkit-column-count: 4;
		-webkit-column-gap: 20px;
		column-count: 4;
		column-gap: 20px;

	}
	li {
		list-style-type: none;
	}

	.scrollToTop{
		background: white;
		color: #1A5375;
		opacity: 0.9;
		font-size: 40px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;

		bottom: 20px;
		font-weight: bold;
		text-decoration: none;
		position:fixed;
		text-align: bottom;
		right: 20px;
		display:none;
	}
	.scrollToTop:hover{
		text-decoration:none;
	}
