#all-lists{
  text-align: left;
}
.task-list {
  /*margin: 0;*/
  /*width: 200px;*/
  max-width: 400px;
  /*width: 400px;*/
  /*vertical-align: middle;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/

  /*border: 3px solid black;*/
  /*width: 90%;*/
  padding: 10px;
}

* {
  box-sizing: border-box;
}

h4 a{
  color: #284E64;
}
h4:visited a:visited {
   color: #284E64;
}

/**/
/* LIST ITEMS */
/**/
ul {
  margin: 0;
  padding: 0;
  width: 400px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 40px 12px 40px;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  word-wrap: break-word;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  /*border-color: #888;*/
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 12px;
  left: 14px;
  transform: rotate(45deg);
  height: 14px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 14px 12px 14px;
}
.close:hover {
  /*background-color: #498eb6;*/
  background-color: #ff6666;
  color: white;
}

/**/
/* HEADER BUTTONS */
/**/
.del-list {
  display: inline-block;
  float: left;
  /*padding: 4px 7px 4px 7px;*/
  cursor: pointer;
}
.del-list:hover {
  color: #ff6666;
}
.hide-list {
  display: inline-block;
  float: left;
  /*padding: 4px 7px 4px 7px;*/
  cursor: pointer;
}
.hide-list:hover {
  color: #7fb0cc;
}
.drop-down {
  display: inline-block;
  float: right;
  /*padding: 4px 7px 4px 7px;*/
  cursor: pointer;
}
.drop-down:hover {
  color: #66cc66;
}

.drop-menu {
  display: none;
  position: absolute;
  /*right: 35;*/
  right: 18;
  top: 35;

}
.drop-menu a {
  background-color: white;
  opacity: 0.9;
  color: black;
  width: 200px;
  display: block;
  padding: 4px;
  width: 150px;
}
.drop-menu a:hover {
  background-color: #f1f1f1;
}

/**/
/* HEADER ITEMS */
/**/
.list-header {
  display: inline-block;
  background-color: #284E64;
  padding: 10px 10px;
  color: white;
  text-align: center;
  word-wrap: break-word;
  width: 400px;
  position: relative;
}

.list-header:after {
  content: "";
  display: table;
  /*clear: both;*/
}

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 14px;
}

.add-btn {
  padding: 8.5px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background-color: #bbb;
}

/*
*/

/*
*/

.task-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  /*align-items: flex-end;*/
  max-width: 900px;
  margin: auto;
  padding: .5em;

/*  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;

  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-flow: column wrap;
  -webkit-align-content: center;*/
}

#new-list {
  max-width: 400px;
  /*vertical-align: middle;*/
  margin: auto;
}

.collapsed ul, .collapsed input, .collapsed a, .collapsed hr {
  display: none;
}

.completed {
  color: red;
}

.done {
  width: 400px;
  background-color: #9fb8c6;
  color: white;
  padding: 2px;
  text-align: center;
}

.taskListhr {
  width: 400px;
}