html{
	/*background-color: white;*/
	background-color: #ecf4f8;
}
footer{
	padding: 5px;
	color: #1A5375;;
	clear: left;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	padding: 10px;
}
.headerMain{
	position: relative;
	background-image: url('ocean-blank-lines.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
	/*height: 450px;*/
}
.headerHome{
	position: relative;
	background-image: url('ocean-home.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 43% ;
	overflow: hidden;
	padding: 100px;
}
h1{
	vertical-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 35px;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	text-align: center;
}
img.default{
	display: block;
	margin: auto;
	width: auto;
	height: 250px;
}
img.profile{
	display: block;
	margin: auto;
	height: 250px;
	margin-left: 3cm;
}
.aboutInfoBox{
	margin: auto;
}
table{
	width: 70%;
	border: 3px solid;
	border-color: #3783A2;
	border-collapse: collapse;
	margin: auto;
	text-align: center;
}
td{
	width: 300px;
	border: 3px solid;
	border-color: #3783A2;
}
th{
	width: 200px;
	background-color: #3783A2;
	color: white;
	margin: auto;
	text-align: center;
	font-size: 20px;
}
.nav {
	position: absolute;
	bottom: 0;
	right: 8;
	color: white;
	text-align: right;
}
.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: inline-block;
}
.nav a:hover {
	opacity: 0.5;
	color: white;
}
.main{
	max-width: 900px;
	background-color: white;
	margin: auto;
	padding: 1em;
}
.links{
	font-weight: bold;
	text-decoration:  none;
}
.container{
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: auto;
	padding: 1em;
	border-radius: 20px;
}
.homeAboutBox{
	color: #135F82;
	border-radius: 20px;
	border-style: inset;
	border-width: thick;
	border-color: #91C7DA;
	background-color: white;
	width: 90%;
	text-align: center;
	padding: .5em;
}
.homeContactBox{
	color: #135F82;
	border-radius: 20px;
	border-style: inset;
	border-width: thick;
	border-color: #91C7DA;	
	background-color: white;
	width: 90%;
	text-align: center;
	padding: .5em;
}
.spacer{
	background-color: white;
	margin: auto;
	text-align: center;

}
.contactInfo{
	text-align: left;
	margin: auto;
}
.contactForm {
	margin: auto;
}
.contactForm input{
	width: 300px;
	/*text-align: right;*/
	margin: auto;
	font-size: 15px;
	outline: none !important;
	border:1px #9d677f;
	box-shadow: 0 0 10px #91C7DA;
}
.contactMsg{
	width: 300px;
	/*text-align: right;*/
	margin: auto;
	font-size: 15px;
	outline: none !important;
	border:1px #91C7DA;
	box-shadow: 0 0 10px #91C7DA;
}
.blogPosts{
	text-align: left;
}
.blogPosts a{
	color: #123c54;
}
.blogPosts a:hover {
    color: #8fc0d6;
}
.blogPosts a:visited {
	color: gray;
}
.hoverBox{
	position: relative;
	display: inline-block;
	text-align: right;
}
.hoverBox .hoverText{
	visibility: hidden;
	width: 120px;
	background-color: #123c54;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.hoverBox:hover .hoverText{
	visibility: visible;
}
.fa-arrow-up{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #123c54;
}
.social-nav{
	position: absolute;
	top: 5;
	right: 5;
	text-align: right;
	color: #1A5375;
}
.fa:hover{
	opacity: 0.5;
}
.fa{
	padding: 8px;
	font-size: 8px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
.fa-linkedin{
	background: white;
	color: #1A5375;
	opacity: 0.9;
}
.fa-instagram{
	background: white;
	color: #1A5375;
	opacity: 0.9;
}
.fa-skype{
	background: white;
	color: #1A5375;
	opacity: 0.9;
}
.fa-github{
	background: white;
	color: #1A5375;
	opacity: 0.9;
}
.fa-bitbucket{
	background: white;
	color: #1A5375;
	opacity: 0.9;
}