html{
	background-color: #f0f0f5;
}
footer{
	text-align: center;
	background-image: url('footer.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*background-color: #4d5176;*/
	padding: 5px;
	color: white;
	clear: left;
	font-family: Futura, Arial, sans-serif;
	padding: 10px;/
}
header{
	background-image: url('blank-header.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
	padding: 150px;
	color: white;
	clear: left;
	font-family: Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	max-width: 100%;
	background-color: #ffffff;
}
body{
	font-family: Arial, sans-serif;
	font-size: 17px;
	text-align: center;
}
img.default{
	display: block;
	margin: auto;
	width: auto;
	height: 250px;
}
table, td{
	border: 3px solid;
	border-color: #9D677F;
	border-collapse: collapse;
	margin: auto;
	text-align: center;
}
th{
	background-color: #9D677F;
	color: white;
	margin: auto;
	text-align: center;
	font-size: 22px;
}
.nav {
	background-color: #4d5176;
	overflow: hidden;
}
.nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.nav a:hover {
	background-color: #eeeeee;
	color: black;
}
.nav a.active {
	background-color: #a4adff;
	color: white;
}

.main{
	max-width: 900px;
	border-radius: 20px;
	background-color: white;
	margin: auto;
	padding: 1em;
}
.links{
	font-weight: bold;
	text-decoration:  none;
}

.container{
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: auto;
	padding: 1em;
	border-radius: 20px;
}
.box1{
	color: #F49EA1;
	border-radius: 20px;
	border-style: inset;
	border-width: thick;
	border-color: #F49EA1;
	background-color: white;
	width: 265px;
	height: 170px;
	text-align: center;
	padding: .5em;
}
.box2{
	color: #8298BC;
	border-radius: 20px;
	border-style: inset;
	border-width: thick;
	border-color: #8298BC;
	background-color: white;
	width: 265px;
	height: 170px;
	text-align: center;
	padding: .5em;
}
.box3{
	color: #5C5375;
	border-radius: 20px;
	border-style: inset;
	border-width: thick;
	border-color: #5C5375;
	background-color: white;
	width: 265px;
	height: 170px;
	text-align: center;
	padding: .5em;
}
.spacer{
	background-color: white;
	width: 200px;
	text-align: center;
}
.contactInfo{
	text-align: left;
	margin: auto;
}
.contactForm{
	margin: auto;
	font-size: 25px;
}
.blogPosts{
	text-align: left;
}
